body{
    margin:0;             
}
header{
    border-bottom:5px solid red;
    padding-left:15px;
}
header a{
    text-decoration:none;
}
nav {
    border-right:5px solid red;
}
#nav{
    display:grid;
    grid-template-columns: 200px 1fr;
}